<div class="wrapper">
  <div class="main">
    <main class="d-flex w-100">
      <div class="container d-flex flex-column">
        <div class="row vh-100">
          <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">
              <div class="text-center mb-2">
                <img src="assets/img/404.svg" style="max-width: 512px;"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>