{    
    "firebaseConfig": {
        "apiKey": "",
        "authDomain": "",
        "databaseURL": "",
        "projectId": "",
        "storageBucket": "",
        "messagingSenderId": "",
        "appId": "",
        "measurementId": ""
    },
    "firebaseAuth": {
        "login": "",
        "pass": ""
    },
    "secret": ""
}

    
